<h2 md-dialog-title align="center">Main settings</h2>
<md-dialog-content align="center">
  <md-select placeholder="Current API" [formControl]="currentApiForm" name="current-api">
    <md-option *ngFor="let item of apis" [value]="item.value">
      {{item.title}}
    </md-option>
  </md-select>
  <p></p>
  <p></p>
  <form action="" class="select-interval">
    <md-select  #interval placeholder="Update interval" name="interval">
      <md-option *ngFor="let item of intervals" [value]="item">
        {{item}} min
      </md-option>
    </md-select>
  </form>
</md-dialog-content>

<md-dialog-actions>
  <button align="start" md-button md-dialog-close="true">Close</button>
  <button align="end" md-button (click)="save()">Save settings</button>
</md-dialog-actions>
