<md-toolbar color="warn">
    <span>Live score</span>
    <span class="example-spacer"></span>
    <span mdTooltip="Settings">
      <a (click)="openDialog()">
        <md-icon class="icon">settings</md-icon>
      </a>
    </span>
</md-toolbar>
<div class="container">
    <md-card class="form-container">
      <form>
      <md-input-container class="form-item">
        <input mdInput [mdDatepicker]="from" placeholder="From">
        <button mdSuffix [mdDatepickerToggle]="from"></button>
      </md-input-container>
      <md-datepicker #from></md-datepicker>

      <md-input-container class="form-item">
        <input mdInput [mdDatepicker]="to" placeholder="to">
        <button mdSuffix [mdDatepickerToggle]="to"></button>
      </md-input-container>
      <md-datepicker #to></md-datepicker>

          <md-select class="form-item" placeholder="Select country" [formControl]="country" name="country">
            <md-option *ngFor="let item of countries" [value]="item.country_id">
              {{item.country_name}}
            </md-option>
          </md-select>

        <md-select class="form-item" placeholder="Select league" [formControl]="league" name="league">
          <md-option *ngFor="let item of leagues" [value]="item.league_id">
            {{item.league_name}}
          </md-option>
        </md-select>

        <button class="form-item" md-button (click)="getEvents()">Search</button>
  </form>
</md-card>
  <md-card>
    <md-tab-group>
      <md-tab *ngFor="let item of tableDataTabs; let i = index" id={{i+1}}>
        <ng-template md-tab-label>
          Search <b>{{item.time | date: "HH:mm:ss"}}</b><span class="close" (click)="deleteTab(i)">&times;</span>
        </ng-template>
        <app-table [data]="item.data"></app-table>
      </md-tab>
    </md-tab-group>
  </md-card>

</div>
