<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Country Column -->
    <ng-container cdkColumnDef="countryName">
      <md-header-cell *cdkHeaderCellDef> Country Name  </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.country_name}} </md-cell>
    </ng-container>

    <!-- League Column -->
    <ng-container cdkColumnDef="leagueName">
      <md-header-cell *cdkHeaderCellDef> League Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.league_name}} </md-cell>
    </ng-container>

    <!-- HoeTeam Column -->
    <ng-container cdkColumnDef="homeTeam">
      <md-header-cell *cdkHeaderCellDef> Home team </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_hometeam_name}} </md-cell>
    </ng-container>


    <!-- HoeTeam Column -->
    <ng-container cdkColumnDef="awayTeam">
      <md-header-cell *cdkHeaderCellDef> Away team </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_hometeam_name}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="homeAwayScore">
      <md-header-cell *cdkHeaderCellDef> Home/Away score </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_hometeam_score}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="matchStatus">
      <md-header-cell *cdkHeaderCellDef> Match status </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_status}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="matchDate">
      <md-header-cell *cdkHeaderCellDef>Match date</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_date}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="matchTime">
      <md-header-cell *cdkHeaderCellDef> Match time </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.match_time}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
